In [2]:
import pandas as pd

drug_df = pd.read_csv("Data/drug200.csv")
drug_df = drug_df.sample(frac=1)
drug_df.head(3)

     Age Sex      BP Cholesterol  Na_to_K   Drug
46    37   F    HIGH        HIGH   13.091  drugA
89    50   F  NORMAL      NORMAL   17.211  DrugY
147   26   F    HIGH      NORMAL   12.307  drugA

In [4]:
from sklearn.model_selection import train_test_split

X = drug_df.drop("Drug", axis=1).values
y = drug_df.Drug.values

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=125
)